/* Card Classes  */

.card   {
    cursor: pointer;
}

.card span  {
    display: none;
}

.card.active span   {
    display: inline;
}

.card-body  {
    height: 100px;
}

.card-details, .card-name  {
	font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.card-name	{
	font-weight: bold;
}

.card-stats {
    font-weight: 500;
}

/* Helper Classes */

.bump-20    {
    margin-top: 20px;
}

.white {
	color: #fff;
}